section {
  display: flex;
  padding-bottom: 36px;

  justify-content: space-between;
  align-items: center;

}

.img-profile {
  width: 176px;
  height: 176px;
  border-radius: 50%;
}

section > #profile {
  display: flex;
  align-items: center;
  gap: 32px;
}

#profile > div {
 display: flex;
 flex-direction: column;
 gap: 8px;
}

#profile > div > h1{
  color: var(--text-color-primary);
  font: var(--text-lg);
}

#profile > div > p {
  color: var(--text-color-secondary);
  font: var(--text-md);
  width: 384px;

}

#info{
  display: flex;
  flex-direction: column;
  gap: 16px;

  width: 280px;
}

#info li {
  display: flex;
  align-items: center;
  gap: 8px;
}
