header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 20px;
}

nav > ul {
  font-family: var(--text-color-secondary);
  display: flex;
  align-items: center;
  gap: 24px;
}

nav > ul a {
  color: var(--text-color-secondary, #6c6c6c);
  font: var(--text-md);
  display: flex;
  align-items: center;
}


nav > ul li:first-child img {
  width: 24px;
  height: 24px;
}

nav > ul li img {
  width: 40px;
  height: 40px;
}
